---
---

@import "bootstrap";
@import "fontawesome";
@import "fa-solid";
@import "fa-brands";

* {
    font-family: source-sans-pro, sans-serif;
}

h1 {
	font-weight: bold;
}

p {
	font-size: large;
}
