---
---

@import "variables";
@import "bootstrap/bootstrap";
@import "bootswatch";
@import "fontawesome";
@import "fa-solid";
@import "fa-brands";


.page-content {
  img {
    max-width: 100%;
  }
}


// FONTS

* {
  font-family: source-sans-pro, sans-serif;
}

.monospace {
  font-family: inconsolata, monospace;
}


// FONT SETTINGS

h1, h2, h3 {
  font-weight: bold;
}

p {
  font-size: large;
}

.card-title {
  font-weight: bold;
}

.sandstone {
  font-size: 110%;
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}


// COLORS

$darkred:       #B30000;
$red:           #FF7D7D;
$lightred:      #FFCCCC;

$darkgreen:     #339900;
$green:         #77FF33;
$lightgreen:    #AAFF80;

$darkblue:      #004DE6;
$blue:          #8AB1FF;
$lightblue:     #B3CCFF;

$darkyellow:    #998000;
$yellow:        #FFDF3D;
$lightyellow:   #FFEA80;

$darkgray:      #505050;
$gray:          #B2B2B2;
$lightgray:     #D2D2D2;

$lightpurple:   #EB99FF;
$lightorange:   #FFBF80;

.red-text       {color: $darkred;}
.red-bg         {background-color: $red;}

.green-text     {color: $darkgreen;}
.green-bg       {background-color: $green;}
.lightgreen-bg  {background-color: $lightgreen;}

.blue-text      {color: $darkblue;}
.blue-bg        {background-color: $blue;}
.lightblue-bg   {background-color: $lightblue;}

.yellow-text    {color: $darkyellow;}
.yellow-bg      {background-color: $yellow;}
.lightyellow-bg {background-color: $lightyellow;}

.darkgray-text  {color: $darkgray;}
.gray-text      {color: $gray;}
.gray-bg        {background-color: $gray;}
.lightgray-bg   {background-color: $lightgray;}

.lightpurple-bg {background-color: $lightpurple;}
.lightorange-bg {background-color: $lightorange;}


// SEQUENCES

.seq-card {
  border-width: 0 0 0 thick;
  border-color: gray;
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
  font-family: inconsolata, monospace;
  width: 47.5rem;
  margin-bottom: 1.5rem;
}

.seq-card .card-body {
  padding: ($spacer * .75)
}

.seq-card p {
  font-family: inconsolata, monospace;
}

.seq-card span {
  font-family: inconsolata, monospace;
}

.seq-card u {
  font-family: inconsolata, monospace;
}

.seq-no-space {
  line-height: 110%;
  margin-bottom: 0mm;
}

.seq-space {
  line-height: 110%;
  margin-bottom: 2mm;
}

.seq-large-space {
  line-height: 110%;
  margin-bottom: 10mm;
}


// CAPTIONS

div.desc {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #ffffff;
  left: 0;
  position: absolute;
  width: 100%;
  padding: .5em;
}

.desc_content {
  font-size: large;
  font-weight: 600;
}

figcaption.figure-caption {
  color: $gray-800;
}


// BANNERS

.banner-caption {
  background-color: black;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  float: right;
  position: absolute;
  top: 375px;
  right: 10px;
}

.banner-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}


// BIBLIOGRAPHIES

ol.bibliography {
  margin: 0 0 3em;
  padding: 0;
  counter-reset: item;
}

ol.bibliography > li {
  margin: 0 0 0 0.75em;
  padding: 0.25em 0 0.25em 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
  line-height: 100%;
}

ol.bibliography > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.4em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}


// BLOG

.blog-header {
  background-color: $gray-200;
}

.blog-body h1 {
  padding-top: 0.5em;
}

.blog-body h2 {
  padding-top: 0.5em;
}

.blog-body h3 {
  padding-top: 0.5em;
}

.blog-abstract {
  color: $gray-600;
  line-height: 120%
}

a {
  font-weight: bold;
}