---
layout: page
lang: en
title: "Experience"
banner_image: banner_argentina.jpg
banner_caption: Typical habitat of wild potatoes in the province of Salta, Argentina
parent_page: experience.html
---

{%- assign molbiol = '<span class="fas fa-flask"></span>' -%}
{%- assign bioinfo = '<span class="fas fa-code"></span>' -%}
{%- assign double_arrow = '<span class="fas fa-angle-double-right"></span>' -%}

<h2>Education</h2>
<hr>

<ul class="list-unstyled">
  {% for degree in site.data.en.education %}
    {%- assign image_path = degree.image | prepend: site.image_dir | relative_url -%}
    <li class="media">
      <div class="align-self-start mr-3">
        <a href="{{degree.url}}">
          <img class="rounded" src="{{ image_path }}" alt="..." width="100px"/>
        </a>
      </div>

      <div class="media-body">
        <h3 class="media-heading">
          {{degree.name}}
          {% if degree.field %}
            <span style="font-weight: 700">— {{degree.field}}</span>
          {% endif %}
        </h3>
        <h4><strong>{{degree.year}}</strong></h4>
        <h4><strong>{{degree.institution}}</strong>, <em>{{degree.location}}</em></h4>
        {% if degree.institution_alt %}
          <h4><strong>{{degree.institution_alt}}</strong>, <em>{{degree.location_alt}}</em></h4>
        {% endif %}

        {% if degree.advisor %}
          <h4><strong>Advisor:</strong> {{degree.advisor}}</h4>
        {% endif %}

        {% if degree.project %}
          <h4><strong>Project:</strong> {{degree.project}}</h4>
        {% endif %}

        {% if degree.info %}
          <h4 style="color:#808080">{{degree.info}}</h4>
        {% endif %}

      </div>
    </li>
    <hr>
  {% endfor %}
</ul>

<br/>
<br/>
<br/>

<h2>Research experience</h2>
<h5>
  <strong>Skills acquired:</strong>
  {{molbiol}} Molecular biology
  {{bioinfo}} Bioinformatics
</h5>
<hr>

<ul class="list-unstyled">
  {% for experience in site.data.en.experience %}
    {%- assign image_path = experience.image | prepend: site.image_dir | relative_url -%}
    <li class="media">
      <div class="align-self-start mr-3">
        <a href="{{degree.url}}">
          <img class="rounded" src="{{ image_path }}" alt="..." width="100px"/>
        </a>
      </div>

      <div class="media-body">
        <h3 class="media-heading">
          {{experience.name}}
          {% if experience.field %}
            <span style="font-weight: 700">— {{experience.field}}</span>
          {% endif %}
        </h3>
        <h4><strong>{{experience.date}}</strong></h4>
        <h4><strong>{{experience.institution}}</strong>, <em>{{experience.location}}</em></h4>

        {% if experience.supervisor %}
          <h4>{{experience.supervisor}}</h4>
        {% endif %}

        {% if experience.molbiol_skills %}
          {% for skill in experience.molbiol_skills %}
            <h4>{{molbiol}} {{skill}}</h4>
          {% endfor %}
        {% endif %}

        {% if experience.bioinfo_skills %}
          {% for skill in experience.bioinfo_skills %}
            <h4>{{bioinfo}} {{skill}}</h4>
          {% endfor %}
        {% endif %}

        {% if experience.description %}
          <h4 style="color:#808080">{{experience.description}}</h4>
        {% endif %}

      </div>
    </li>
    <hr>
  {% endfor %}
</ul>

<br/>
<br/>
<br/>

<h2>Other training</h2>
<hr>
<ul class="list-unstyled">
  {% for training in site.data.en.other_training %}
    {%- assign image_path = training.image | prepend: site.image_dir | relative_url -%}
    <li class="media">
      <div class="align-self-start mr-3">
        <a href="{{degree.url}}">
          <img class="rounded" src="{{ image_path }}" alt="..." width="100px"/>
        </a>
      </div>

      <div class="media-body">
        <h3 class="media-heading">
          {{training.name}}
          {% if training.field %}
            <span style="font-weight: 700">— {{training.field}}</span>
          {% endif %}
        </h3>
        <h4><strong>{{training.date}}</strong></h4>
        <h4><strong>{{training.institution}}</strong>, <em>{{training.location}}</em></h4>

        {% if training.courses %}
          <h4>{{training.supervisor}}</h4>
        {% endif %}

        {% if training.courses %}
          {% for course in training.courses %}
            <h4>
              {{double_arrow}}
              <strong>{{course.name}}</strong>
              &nbsp;&nbsp;
              Certificate
              <a href="{{course.url}}">
                {{course.certificate}}
              </a>
            </h4>
          {% endfor %}
        {% endif %}

      </div>
    </li>
    <hr>
  {% endfor %}
</ul>

<br/>
<br/>
<br/>

<h2>Teaching</h2>
<hr>

<ul class="list-unstyled">
  {% for teaching in site.data.en.teaching %}
    {%- assign image_path = teaching.image | prepend: site.image_dir | relative_url -%}
    <li class="media">
      <div class="align-self-start mr-3">
        <a href="{{degree.url}}">
          <img class="rounded" src="{{ image_path }}" alt="..." width="100px"/>
        </a>
      </div>

      <div class="media-body">
        <h3 class="media-heading">
          {{teaching.position}}
          {% if teaching.field %}
            <span style="font-weight: 700">— {{teaching.field}}</span>
          {% endif %}
        </h3>
        <h4><strong>{{teaching.period}}</strong></h4>
        <h4><strong>{{teaching.institution}}</strong>, <em>{{teaching.location}}</em></h4>

        {% if teaching.course %}
          <h4>
            {{teaching.course}}
            {% if teaching.professor %}
              – {{teaching.professor}}
            {% endif %}
          </h4>
        {% endif %}

        {% if teaching.description %}
          <h4 style="color:#808080">{{teaching.description}}</h4>
        {% endif %}

      </div>
    </li>
    <hr>
  {% endfor %}
</ul>

<br/>
<br/>
<br/>

<h2>Volunteering</h2>
<hr>

<ul class="list-unstyled">
  {% for volunteering in site.data.en.volunteering %}
    {%- assign image_path = volunteering.image | prepend: site.image_dir | relative_url -%}
    <li class="media">
      <div class="align-self-start mr-3">
        <a href="{{degree.url}}">
          <img class="rounded" src="{{ image_path }}" alt="..." width="100px"/>
        </a>
      </div>

      <div class="media-body">
        <h3 class="media-heading">{{volunteering.position}}</h3>
        <h4><strong>{{volunteering.period}}</strong></h4>
        <h4><strong>{{volunteering.institution}}</strong>, <em>{{volunteering.location}}</em></h4>

        {% if volunteering.description %}
          <h4 style="color:#808080">{{volunteering.description}}</h4>
        {% endif %}

      </div>
    </li>
    <hr>
  {% endfor %}
</ul>
