---
layout: page
lang: fr
title: "Publications"
banner_image: banner_pistils.jpg
banner_caption: Dispositif expérimental de culture semi-<em>in vivo</em> de tubes polliniques de pommes de terre
parent_page: publications.html
---

{%- assign link = '<span class="fas fa-external-link-square-alt"></span>' -%}
{%- assign pdf = '<span class="fas fa-file-pdf"></span>' -%}
{%- assign file = '<span class="fas fa-file"></span>' -%}
{%- assign bookmark = '<span class="fas fa-bookmark"></span>' -%}
{%- assign speaker = '<small><span class="fas fa-chalkboard-teacher"></span></small>' -%}
{%- assign co_author = '<small><span class="fas fa-adjust"></span></small>' -%}
{%- assign star = '<span class="fas fa-star"></span>' -%}

<h2>Articles</h2>
<h5>{{co_author}} Co-premiers auteurs</h5>
<hr>

<ul class="list-unstyled">
  {% for paper in site.data.fr.published_papers %}
    {%- assign paper_image_path = paper.image | prepend: site.image_dir | relative_url -%}
    {%- assign paper_doi_url = paper.doi | prepend: doi_url_prefix -%}
    <li class="media">
      <div class="align-self-start mr-3">
        <a href="{{ paper_doi_url }}" target="_blank" rel="noopener noreferrer" >
          <img class="rounded" src="{{ paper_image_path }}" alt="..." width="100px"/>
        </a>
      </div>
      <div class="media-body">
        <h4>
          <strong>{{paper.title}}</strong>
          <br/>
          {{paper.authors | replace: "*", co_author | replace: "Joly V", "<strong>Joly V</strong>"}}
          <br/>
          <em>{{paper.journal}}</em>, {{paper.year}}, {{paper.volume}}({{paper.issue}}):{{paper.pages}}. DOI: {{paper.doi}}
          <br/>
          <small>
            <strong>
              {{link}} <a href="{{ paper_doi_url }}" target="_blank" rel="noopener noreferrer" >Lire en ligne</a>
            </strong>
          </small>
          |
          {% if paper.pmid %}
          {%- assign paper_pubmed_url = paper.pmid | prepend: site.pubmed_url_prefix -%}
          <small>
            <strong>
              {{link}} <a href="{{ paper_pubmed_url }}" target="_blank" rel="noopener noreferrer">PubMed</a>
            </strong>
          </small>
          |
          {% endif %}
          {% if paper.pdf %}
          {% assign pdf_path = paper.pdf | prepend: site.docs_dir | relative_url %}
          <small>
            <strong>
              {{pdf}} <a href="{{ pdf_path }}" target="_blank" rel="noopener noreferrer" >PDF</a>
            </strong>
          </small>
          |
          {% endif %}
          {% assign bibtex_path = paper.bibtex | prepend: site.docs_dir | relative_url %}
          <small>
            <strong>
              {{bookmark}} <a href="{{ bibtex_path }}">Entrée BibTeX</a>
            </strong>
          </small>
        </h4>
      </div>
    </li>
    <hr>
  {% endfor %}
</ul>

<br/>
<br/>

<h2>Présentations orales</h2>
<h5>{{star}} Prix</h5>
<hr>

<ul class="list-unstyled">
  {% for talk in site.data.fr.oral_presentations %}
    <li>
      <h4>
        {% if talk.award %}
          {{star}}
        {% endif %}
        <strong>{{talk.title}}</strong>
        <br/>
        {{talk.authors | replace: "Joly V", "<strong>Joly V</strong>"}}
        <br/>
        <em>{{talk.conference}}</em>, {{talk.location}}, {{talk.date}}.
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>

<br/>
<br/>

<h2>Conférencier invité</h2>
<hr>

<ul class="list-unstyled">
  {% for talk in site.data.fr.invited_speaker %}
    <li>
      <h4>
        <strong>{{talk.title}}</strong>
        <br/>
        {{talk.authors | replace: "Joly V", "<strong>Joly V</strong>"}}
        <br/>
        {{talk.location}} ; {{talk.date}}.
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>

<br/>
<br/>

<h2>Présentations par affiche</h2>
<h5>{{star}} Prix</h5>
<hr>

<ul class="list-unstyled">
  {% for poster in site.data.fr.poster_presentations %}
    <li>
      <h4>
        {% if poster.award %}
          {{star}}
        {% endif %}
        <strong>{{poster.title}}</strong>
        <br/>
        {{poster.authors | replace: "Joly V", "<strong>Joly V</strong>"}}
        <br/>
        <em>{{poster.conference}}</em>, {{poster.location}}, {{poster.date}}.
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>

<br/>
<br/>

<h2>Autres présentations</h2>
<h5>{{speaker}} Présentateur</h5>
<hr>

<ul class="list-unstyled">
  {% for pres in site.data.fr.other_presentations %}
    <li>
      <h4>
        {% if pres.award %}
          {{star}}
        {% endif %}
        <strong>{{pres.title}}</strong>
        <br/>
        {{pres.authors | replace: "*", speaker | replace: "Joly V", "<strong>Joly V</strong>"}}
        <br/>
        <em>{{pres.conference}}</em>, {{pres.location}}, {{pres.date}}.
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>
