---
layout: default-fr
title: "Publications"
basename: publications.html
banner_image: pollen_MEB.png
---

{% assign new_window = '<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>' %}
{% assign download = '<span class="glyphicon glyphicon-save" aria-hidden="true"></span>' %}
{% assign bookmark = '<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>' %}
{% assign speaker = '<small><span class="glyphicon glyphicon-user" aria-hidden="true"></span></small>' %}
{% assign co_author = '<small><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span></small>' %}

{% assign star = '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' %}

<div class="row">
<h1>Publications</h1>
<h2>Articles</h2>

<h4>{{co_author}} Co-premiers auteurs</h4>
<hr>
<ul class="list-unstyled">
  {% for paper in site.data.en.published_papers %}
    <li>
      <h4>
        <strong>{{paper.title}}</strong>
        <br/>
        {{paper.authors | replace: "*", co_author}}
        <br/>
        <em>{{paper.journal}}</em>, {{paper.year}}, {{paper.volume}}({{paper.issue}}):{{paper.pages}}. DOI: {{paper.doi}}
        <br/>
        <small>
          <strong>
            {{new_window}} <a href="http://dx.doi.org/{{paper.doi}}" target="_new">Lire en ligne</a>
          </strong>
        </small>
        |
        {% if paper.pdf %}
        <small>
          <strong>
            {{download}} <a href="{{site.baseurl}}/papers/{{paper.pdf}}" target="_new">PDF</a>
          </strong>
        </small>
        |
        {% endif %}
        {% if paper.supp %}
        <small>
          <strong>
            {{download}} <a href="{{site.baseurl}}/papers/{{paper.supp}}" target="_new">Matériel supplémentaire</a>
          </strong>
        </small>
        |
        {% endif %}
        <small>
          <strong>
            {{bookmark}} <a href="{{site.baseurl}}/papers/{{paper.bibtex}}" target="_new">BibTeX</a>
          </strong>
        </small>
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>

<br/>

<h2>Présentations orales</h2>
<h4>{{speaker}} Orateur &nbsp;&nbsp; {{star}} Prix</h4>
<hr>
<ul class="list-unstyled">
  {% for talk in site.data.en.oral_presentations %}
    <li>
      <h4>
        {% if talk.award %}
          {{star}}
        {% endif %}
        <strong>{{talk.title}}</strong>
        <br/>
        {{talk.authors | replace: "*", speaker}}
        <br/>
        <em>{{talk.conference}}</em>, {{talk.location}}, {{talk.date}}.
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>

<br/>

<h2>Présentations par affiche</h2>
<h4>{{star}} Prix</h4>
<hr>
<ul class="list-unstyled">
  {% for poster in site.data.en.poster_presentations %}
    <li>
      <h4>
        {% if poster.award %}
          {{star}}
        {% endif %}
        <strong>{{poster.title}}</strong>
        <br/>
        {{poster.authors}}
        <br/>
        <em>{{poster.conference}}</em>, {{poster.location}}, {{poster.date}}.
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>
</div>