---
layout: page
lang: fr
title: "Publications"
banner_image: pollen_MEB.png
---

{%- assign link = '<span class="fas fa-external-link-square-alt"></span>' -%}
{%- assign pdf = '<span class="fas fa-file-pdf"></span>' -%}
{%- assign file = '<span class="fas fa-file"></span>' -%}
{%- assign bookmark = '<span class="fas fa-bookmark"></span>' -%}
{%- assign speaker = '<small><span class="fas fa-chalkboard-teacher"></span></small>' -%}
{%- assign co_author = '<small><span class="fas fa-adjust"></span></small>' -%}
{%- assign star = '<span class="fas fa-star"></span>' -%}

<h2>Articles</h2>

<h4>{{co_author}} Co-premiers auteurs</h4>
<hr>
<ul class="list-unstyled">
  {% for paper in site.data.en.published_papers %}
    <li>
      <h4>
        <strong>{{paper.title}}</strong>
        <br/>
        {{paper.authors | replace: "*", co_author}}
        <br/>
        <em>{{paper.journal}}</em>, {{paper.year}}, {{paper.volume}}({{paper.issue}}):{{paper.pages}}. DOI: {{paper.doi}}
        <br/>
        <small>
          <strong>
            {{link}} <a href="http://dx.doi.org/{{paper.doi}}" target="_new">Lire en ligne</a>
          </strong>
        </small>
        |
        {% if paper.pdf %}
        <small>
          <strong>
            {{pdf}} <a href="{{site.baseurl}}/papers/{{paper.pdf}}" target="_new">PDF</a>
          </strong>
        </small>
        |
        {% endif %}
        {% if paper.supp %}
        <small>
          <strong>
            {{file}} <a href="{{site.baseurl}}/papers/{{paper.supp}}" target="_new">Matériel supplémentaire</a>
          </strong>
        </small>
        |
        {% endif %}
        <small>
          <strong>
            {{bookmark}} <a href="{{site.baseurl}}/papers/{{paper.bibtex}}" target="_new">BibTeX</a>
          </strong>
        </small>
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>

<br/>

<h2>Présentations orales</h2>
<h4>{{speaker}} Orateur &nbsp;&nbsp; {{star}} Prix</h4>
<hr>
<ul class="list-unstyled">
  {% for talk in site.data.en.oral_presentations %}
    <li>
      <h4>
        {% if talk.award %}
          {{star}}
        {% endif %}
        <strong>{{talk.title}}</strong>
        <br/>
        {{talk.authors | replace: "*", speaker}}
        <br/>
        <em>{{talk.conference}}</em>, {{talk.location}}, {{talk.date}}.
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>

<br/>

<h2>Présentations par affiche</h2>
<h4>{{star}} Prix</h4>
<hr>
<ul class="list-unstyled">
  {% for poster in site.data.en.poster_presentations %}
    <li>
      <h4>
        {% if poster.award %}
          {{star}}
        {% endif %}
        <strong>{{poster.title}}</strong>
        <br/>
        {{poster.authors}}
        <br/>
        <em>{{poster.conference}}</em>, {{poster.location}}, {{poster.date}}.
      </h4>
      <hr>
    </li>
  {% endfor %}
</ul>
