<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Valentin Joly · {{page.title}}</title>
    <script src="//use.edgefonts.net/source-sans-pro:n4,i4,n6,i6.js"></script>
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
  </head>

  <body>
    {% include nav-en.html %}
    <img class="media-object" src="{{site.baseurl}}/images/{{page.banner_image}}" alt="..." width="100%">

    <div class="container">
      <p class="lead"></p>
      {{content}}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>